$page__max-width: 1280px;

$col__pre-bg: #00252D;
$col__bg: #00313C;

$col-link__col: white;
$col-link__bg: transparent;
$col-link__col-hover: $col-link__col;
$col-link__bg-hover: #335962;

$col__search__col: white;

$font-weight__link: 600;

$font-size__search__field: 2rem;

$breakpoint__large: 1280px;